@font-face {
  font-family: 'poppins-medium';
  src: url('../../assets/fonts/Poppins-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'poppins-semiBold';
  src: url('../../assets/fonts/Poppins-SemiBold.ttf') format("ttf");
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../../assets/fonts/Poppins-Bold.ttf') format("ttf");
}

@font-face {
  font-family: 'TiltWarp';
  src: url('../../assets/fonts/TiltWarp-Regular.ttf') format("ttf");
}
