@use '../../Styles/Abstract/index' as *;

.portfolio__container{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  
}

.portfolio__project{
  border-radius: 20%;
  transition: 0.5s all ease-in-out;
  display: grid;
  gap:2rem;
  justify-content: center;
}



.portfolio__text{
  padding-top: 2rem;
  text-align: center;
  font-size: $h3-font-size;
  text-decoration: none;
}


.portfolio__link{
  display: flex;
  justify-content: center;
  width: 70%;
}

.tag__container{
  display: flex;
  gap: 0.5rem;
  font-family: 'montserrat';
  font-weight: 500;
  font-size: 0.65rem;
  background-color: var(--first-color);
  color: white;
  border-radius: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  align-items: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(158, 158, 158, 0.3);
}

.searchTag__container{
  max-width: 4rem;
  height: 1.2rem;
  background-color: var(--first-color);
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardInformation__title{
  font-size: 1.5rem;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.CardInformation__subtitle{
  font-size: 1rem;
  color: gray;
}

.cardInformation__container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.TagGroup__container{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  grid-area: d;
}

.ProjectCard__container{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 40rem;
  width: 40vh;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.24);
  max-width: 337px;
  max-height: 490px;
  transition: transform .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  
}


.projectCard__image{
  border-radius: 1rem;
  width: 240px;
  height: 200px;
  &:hover{
    transform: scale(1.05);
  }
}

.dialog__background{
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal__container{
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  height: 95%;
  border-radius: 15px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-template-rows: minmax(1rem,2rem);
  grid-template-areas: "a a"
            "b b"
            "c c"
            "d d"
            "e e"
            "f f";
}

.modal__layout{
  display: flex;
  justify-content: space-between;
}


.info{
  width: 50%;
}

.video{
  width: auto; 
  height: 63vh;
}

.modal__video{
  width: auto;
  max-height: 12rem;
  grid-area: b;
}

.modal__description{
  line-height: 1.35rem;
  grid-area: e;
  height: 12rem;
  overflow: scroll;
  padding:1rem 0;
}

.portfolio__button{
  padding: 1.25rem;
  background-color: var(--first-color);
  color: var(--container-color);
  border-radius: 15px;
  width: 40%;
  height: 20px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 0.75rem;
  }
}

.portfolio__button--text{
  margin-right: 1rem;
}

.button__image{
  width: 30px;
  height: 30px;
  fill: #fefefe;
  
}

.button__container{
  display: flex;
  grid-area:f;
  gap:3rem;
  align-items: flex-end;
  height: 3rem;
}

.info h3{
  margin-left: 2rem ;
}

.button__closeButton{
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.portfolio__search{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap:2rem;
  padding:2rem 0 2rem;
}

.filterProject__layout{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__header{
  grid-area: a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.modal__subtitle{
  grid-area: c;
  height: 0.5rem;
}

.tag__image{
  background: transparent;
  object-fit: contain;
  filter: drop-shadow(3px 3px 1px white);
}

.modal__tagGroup {
  grid-area: d;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 2rem;
}

.button--portfolio a:visited {
  color:white
}