@use '../../Styles/Abstract/index' as *;

.portfolio__container{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  
}

.portfolio__project{
  border-radius: 20%;
  transition: 0.5s all ease-in-out;
  display: grid;
  gap:2rem;
}



.portfolio__text{
  padding-top: 2rem;
  text-align: center;
  font-size: $h3-font-size;
  text-decoration: none;
}

.button--portfolio{
  padding: 1rem;
  text-decoration: none;
  padding: 1rem 6rem;

  a{
    color: white;
  }
}

.portfolio__link{
  display: flex;
  justify-content: center;
  width: 70%;
}

.tag__container{
  display: flex;
  gap: 0.5rem;
  font-family: 'montserrat';
  font-weight: 500;
  font-size: 0.65rem;
  background-color: var(--first-color);
  color: white;
  border-radius: 1rem;
  padding: 0.3rem;
  align-items: center;
}

.searchTag__container{
  max-width: 4rem;
  height: 1.2rem;
  background-color: var(--first-color);
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardInformation__title{
  font-size: 1.5rem;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.CardInformation__subtitle{
  font-size: 1rem;
  color: gray;
}

.cardInformation__container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.TagGroup__container{
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}

.ProjectCard__container{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 40rem;
  width: 40vh;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.24);
  max-width: 337px;
  max-height: 490px;
  transition: transform .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  
}


.projectCard__image{
  border-radius: 1rem;
  &:hover{
    transform: scale(1.05);
  }
}

.dialog__background{
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal__container{
   background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: 60%;
  border-radius: 15px;
  position: absolute;
  right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.modal__layout{
  display: flex;
  justify-content: space-between;
}

.modal__title{
  padding: 1rem 0 2rem;
  margin: 2rem 0 0 2rem;
}

.info{
  width: 50%;
}

.video{
  width: auto; 
  height: 63vh;
}

.modal__video{
  padding: 2rem 2rem 2rem 4rem;
  width: auto;
  max-height: 390px;
}

.modal__description{
  line-height: 1.5rem;
  margin: 0 0px 0 2.3rem;
}

.portfolio__button{
  padding: 2rem;
  background-color: var(--first-color);
  color: var(--container-color);
  border-radius: 15px;
  width: 40%;
  height: 20px;
  margin: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }
}

.portfolio__button--text{
  margin-right: 1rem;
}

.button__image{
  width: 30px;
  height: 30px;
  fill: #fefefe;
  
}

.button__container{
  display: flex;
  margin-top: 3rem;
}

.info h3{
  margin-left: 2rem ;
}

.modal__header{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__closeButton{
  width: 45px;
  height: 45px;
  margin-right: 2rem;
  cursor: pointer;
}

.portfolio__search{
  display: flex;
  justify-content: flex-start;
  gap:5rem;
  padding:2rem 0 2rem;
}

.filterProject__layout{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}