@use '../../Styles/Abstract/index' as *;

.skills__section{

display: grid;
grid-template-columns: repeat(3,1fr);
margin: 0 4rem;
gap:1rem;

}

.skills__container{
  border-radius: 20%;

  padding: 1.75rem;

  background-color:white;

  -webkit-box-shadow: inset 0px -2px 5px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px -2px 5px 5px rgba(0,0,0,0.1);
  box-shadow: inset 0px -2px 5px 5px rgba(0,0,0,0.1);
}


.skills__container-title{
  padding-bottom: 1.75rem;
  text-align: center;
  color:black
}

.skills__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 3px solid rgba(0, 0, 0, 0);;
}

.skills__card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.skills__item-logo{
  width: 40px;
  height: auto;
  border-radius: 20%;
  position: relative;
  z-index: 100;
}

.skills__item-title{
  font-size: 0.8rem;
  font-weight: $font-semi-bold;
  color:black
}

.skills__item-longTitle{
	font-size: $small-font-size;
	font-weight: $font-semi-bold;
  text-align: center;
  color:black
}

.skills__tooltip{
  border: var(--first-color) 3px solid;
  border-radius: 12px;
  position: relative;
  z-index: 999;
}


.skills__tooltip-modal{
  position: absolute;
}

.skills__tooltip-data{
    background-color: var(--first-color);
    position: relative;
    top:5rem;
    left: 1rem;
    text-align: center;
    border-radius: 10px;
    max-width: 20rem;
    z-index: 999;

    p{
      font-family: inherit;
      padding: 15px 20px;
      color: white;
    }
  }
