@use '../../Styles/Abstract/variables' as *;

.nav {
  align-items: center;

  display: flex;
  height: $header-height;

  justify-content: space-between;

  max-width: 968px;
}

.nav__logo {
  color: var(--title-color);
  font-weight: $font-medium;

  &:hover {
    color: var(--first-color);
  }
}

.nav__list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav__sectionMenu--open {
  background-color: var(--body-color);

  border-radius: 1.5rem 1.5rem 0 0;

  bottom: 48px;

  box-shadow: inset 1px -2px 12px #b7adad;
    left: 0;
    padding: 2rem 1.5rem 0rem;

  position: fixed;

  text-align: center;

  transition: 0.3s;

  width: 100%;
}

.nav__sectionMenu--close {
  display: none;
}

.nav__logo--mini {
  display: none;
}

.nav__settingsMenu--close {
  display: none;
}

.nav__item {
  margin-bottom: $mb-1;
}

.nav__link {
  align-items: center;

  color: var(--title-color);
  display: flex;

  flex-direction: column;

  font-size: $normal-font-size;
  font-weight: $font-medium;

  gap: 5px;

  &:hover {
    color: var(--first-color);
  }

  i {
    font-size: 1.2rem;
  }
}

.nav__menu {
  svg {
    height: 50px;
    position: absolute;
    right: 2%;
    top: 0%;
    width: 50px;
    cursor: pointer;
  }
}

.burger {
  filter: url(#gooeyness);
  cursor: pointer;
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: var(--title-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6px;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
  &:hover {
    stroke: var(--first-color);
  }
}
.x .line {
  stroke-width: 5.5px;
}

.nav__menu .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
    transform 400ms 100ms;
}
.nav__menu .line1 {
  stroke-dasharray: 40 40;
}
.nav__menu .line2 {
  stroke-dasharray: 19 39;
}
.nav__menu .line3 {
  stroke-dasharray: 19 39;
}
.nav__menu .line4 {
  stroke-dasharray: 40 40;
}
.nav__menu .x {
  transition: transform 400ms 50ms;
}

.active.nav__menu .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.active.nav__menu .line1 {
  stroke-dasharray: 0 26;
  stroke-dashoffset: -33px;
}
.active.nav__menu .line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -39px;
}
.active.nav__menu .line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -39px;
}
.active.nav__menu .line4 {
  stroke-dasharray: 0 41;
  stroke-dashoffset: -33px;
}
.active.nav__menu .x {
  transition: transform 400ms 50ms;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.nav__menu:hover {
  .line,
  .line1,
  .line2,
  .line3,
  .line4,
  svg {
    stroke: var(--first-color);
  }
}

.scroll--header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.uil-setting {
  font-size: 1.5rem;
  position: absolute;
  right: 70px;
  top: 10px;

  &:hover {
    animation: rotation 0.75s linear;
    cursor: pointer;
    color: var(--first-color);
  }
}

ul .nav__list {
  display: grid;
  justify-content: center;
}

.nav__color--red {
  background-color: hsl(352, 69%, 61%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__color--blue {
  background-color: hsl(228, 69%, 61%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__color--green {
  background-color: hsl(146, 69%, 61%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__color--purple {
  background-color: hsl(250, 69%, 61%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__color--orange {
  background-color: hsl(24, 69%, 61%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__color--yellow {
  background-color: hsl(62, 64%, 44%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.nav__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav__button--mode {
  appearance: none;
  border-radius: 999px;
  box-shadow: inset calc(1.5rem * 0.33) calc(1.5rem * -0.25) 0;
  color: hsl(240, 47%, 41%);
  cursor: pointer;
  height: 1.5rem;
  outline: none;
  position: absolute;
  right: 115px;

  transition: all 500ms;

  width: 1.5rem;

  &:checked {
    box-shadow: inset 0 0 0 2.5rem,
      calc(calc(1.5rem * 0.65) * -1) 0 0 calc(1.5rem * -0.4),
      calc(1.5rem * 0.65) 0 0 calc(1.5rem * -0.4),
      0 calc(calc(1.5rem * 0.65) * -1) 0 calc(1.5rem * -0.4),
      0 calc(1.5rem * 0.65) 0 calc(1.5rem * -0.4),
      calc(calc(1.5rem * 0.45) * -1) calc(calc(1.5rem * 0.45) * -1) 0
        calc(1.5rem * -0.4),
      calc(1.5rem * 0.45) calc(1.5rem * 0.45) 0 calc(1.5rem * -0.4),
      calc(calc(1.5rem * 0.45) * -1) calc(1.5rem * 0.45) 0 calc(1.5rem * -0.4),
      calc(1.5rem * 0.45) calc(calc(1.5rem * 0.45) * -1) 0 calc(1.5rem * -0.4);
    color: hsl(40, 100%, 50%);
    transform: scale(0.75);
  }
}

.nav__button--portuguese {
  background-image: url('assets/image/icons/portugues.png');
  background-size: contain;
  display: inline-block;
  height: 1.5rem;
  position: absolute;
  right: 165px;
  width: 1.5rem;
  cursor: pointer;
}

.nav__button--english {
  background-image: url('assets/image/icons/english.png');
  background-size: contain;
  display: inline-block;
  height: 1.5rem;
  position: absolute;
  right: 165px;
  width: 1.5rem;
  cursor: pointer;
}

.nav__button--animation {
  animation: fadein 1s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.nav__settingsMenu--open{
  bottom: 45px;
    z-index: 50;
}